<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/Tudu/Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Tudu App Tests">
            <directory>src/Tudu/Tests/</directory>
        </testsuite>
    </testsuites>
    <!-- If ever we want to use a service like Coveralls -->
    <!--
    <logging>
        <log type="coverage-html" target="coverage-report"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    -->
</phpunit>
